body {
    background: linear-gradient(120deg, #141e30, #243b55);
    color: white;
    font-family: Arial;
}

.job-card, .form-card {
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.job-card:hover {
    transform: translateY(-10px) rotateX(5deg);
}

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 6px 12px;
    background: #243b55;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.delete {
    background: #c0392b;
}
