<!DOCTYPE html>
<html>
<head>
    <title>Create Job</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/css/jobs.css' %}">
</head>
<body>

<div class="form-card">
<h2>Create Job</h2>

<form method="post">
    {% csrf_token %}
    <input name="title" placeholder="Job Title" required>
    <input name="company" placeholder="Company" required>
    <textarea name="description" placeholder="Description"></textarea>
    <button>Create</button>
</form>
</div>

</body>
</html>
